body {
  background: #000;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-repeat: no-repeat;
}
.row {
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr; /* grid-cols-1 */
  gap: 2rem; /* gap-8 */
    justify-content: space-around; /* justify-center */
    margin-top: 1.25rem; /* mt-5 */
}
  
  @media (min-width: 640px) {
    .row {
      grid-template-columns: repeat(2, 1fr); /* sm:grid-cols-2 */
    }
  }
  
  @media (min-width: 1024px) {
    .row {
      grid-template-columns: repeat(4, 1fr); /* lg:grid-cols-3 */
    }
  }
  


.wrap {
  align-items: center;
  text-align: center;
}
/* .wrap > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
} */
.header {
  position: relative;
}
.searched_movies{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px; /* Adjust the max-width as needed */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}
.navbar {
  padding: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 4px;
  position: relative;
  margin-bottom: 4px;
}


.navbar .search-field {
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

#search-bar {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  flex-grow: 1;
  font-size: 16px;
  margin-right: 10px;
}

#search-bar::placeholder {
  color: #7f8c8d;
}


.poster {
  position: relative;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 3px;
}
.poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.poster:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
  bottom: 0;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
